{% load static %}

<link rel="stylesheet" href="{% static 'landing/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Talent Unleashed</title>
  <link rel="stylesheet" href="{% static 'landing/style.css' %}">
</head>
<body>
  <img src="{% static 'landing/logo.png' %}" alt="Talent Unleashed Logo" class="logo">
<div class="intro-container">
  <h1>Welcome to Portland Brings Talent 2025</h1>
  <h2> ~ Calling All Talents ~</h2>
  <p>
    Portland Brings Talent is more than a talent show — it’s a celebration of local creativity, courage, and connection.
    Whether you're a singer, dancer, magician, juggler, or dreamer, this is your stage.
  </p>
  <a href="{% url 'register' %}" class="button center-button">Register Now!</a>
 <p>
    Date/Time/Venue TBD
  </p>
</div>
</body>
<footer>
  <h3>&copy; 2025 Portland Brings Talent</h3>
</footer>
</html>